<system_capture><system>
      <config>
        <hostname>usgng1-l9i2</hostname>
        <login-banner/>
        <motd-banner/>
      </config>
      <state>
        <hostname>usgng1-l9i2</hostname>
        <login-banner/>
        <motd-banner/>
        <current-datetime>2025-09-01T17:47:09.878730Z</current-datetime>
        <boot-time>1756572560000000000</boot-time>
        <software-version>1830OLS-25.3-3</software-version>
      </state>
      <ntp>
        <servers/>
      </ntp>
      <ssh-server>
        <cli-terminal>
          <config>
            <login-mode>ssh-authentication</login-mode>
          </config>
          <state>
            <login-mode>ssh-authentication</login-mode>
          </state>
        </cli-terminal>
      </ssh-server>
      <logging>
        <remote-servers/>
      </logging>
      <aaa>
        <authentication>
          <config>
            <authentication-method>oc-aaa-types:LOCAL</authentication-method>
          </config>
          <state>
            <authentication-method>oc-aaa-types:LOCAL</authentication-method>
          </state>
          <users>
            <user>
              <username>admin</username>
              <config>
                <username>admin</username>
                <role>oc-aaa-types:SYSTEM_ROLE_ADMIN</role>
                <password-change-interval>0</password-change-interval>
                <user-status>n-oc-aaa-ext:USER_STATUS_ENABLED</user-status>
              </config>
              <state>
                <username>admin</username>
                <role>oc-aaa-types:SYSTEM_ROLE_ADMIN</role>
                <password-change-interval>0</password-change-interval>
                <user-status>n-oc-aaa-ext:USER_STATUS_ENABLED</user-status>
                <password-status>ACTIVE</password-status>
                <password-expiration-date>4102444799000000000</password-expiration-date>
                <last-login>1756748827000000000</last-login>
              </state>
            </user>
            <user>
              <username>service</username>
              <config>
                <username>service</username>
                <role>n-oc-aaa-ext:SYSTEM_ROLE_SERVICE</role>
                <password-change-interval>0</password-change-interval>
                <user-status>n-oc-aaa-ext:USER_STATUS_DISABLED</user-status>
              </config>
              <state>
                <username>service</username>
                <role>n-oc-aaa-ext:SYSTEM_ROLE_SERVICE</role>
                <password-change-interval>0</password-change-interval>
                <user-status>n-oc-aaa-ext:USER_STATUS_DISABLED</user-status>
                <password-status>ACTIVE</password-status>
                <password-expiration-date>4102444799000000000</password-expiration-date>
              </state>
            </user>
          </users>
          <exit-on-reject>
            <config>
              <exit-on-reject-mode>true</exit-on-reject-mode>
            </config>
            <state>
              <exit-on-reject-mode>true</exit-on-reject-mode>
            </state>
          </exit-on-reject>
          <user-systemwide>
            <config>
              <max-failed-login>3</max-failed-login>
              <min-wait-login>4</min-wait-login>
              <allowed-login-after-expired>3</allowed-login-after-expired>
              <aging-grace-period>7</aging-grace-period>
              <password-change-on-first-login>true</password-change-on-first-login>
              <password-history-size>10</password-history-size>
              <min-password-length>8</min-password-length>
            </config>
            <state>
              <max-failed-login>3</max-failed-login>
              <min-wait-login>4</min-wait-login>
              <allowed-login-after-expired>3</allowed-login-after-expired>
              <aging-grace-period>7</aging-grace-period>
              <password-change-on-first-login>true</password-change-on-first-login>
              <password-history-size>10</password-history-size>
              <min-password-length>8</min-password-length>
            </state>
          </user-systemwide>
        </authentication>
        <authorization>
          <config>
            <authorization-method>oc-aaa-types:LOCAL</authorization-method>
          </config>
          <state>
            <authorization-method>oc-aaa-types:LOCAL</authorization-method>
          </state>
          <authorization-mode>
            <state>
              <authorization-mode>AUTHORIZATION_MODE_CMD_BY_CMD</authorization-mode>
            </state>
          </authorization-mode>
        </authorization>
        <server-groups/>
      </aaa>
      <alarms>
        <alarm>
          <id>8882</id>
          <config/>
          <state>
            <id>8882</id>
            <resource>PORT-1-1-LINEIN</resource>
            <text>Input LOS</text>
            <time-created>1756573555000000000</time-created>
            <severity>oc-alarm-types:CRITICAL</severity>
            <type-id>LOS</type-id>
          </state>
        </alarm>
        <alarm>
          <id>8884</id>
          <config/>
          <state>
            <id>8884</id>
            <resource>PORT-1-1-LINEIN</resource>
            <text>APR Active - Invalid Topology</text>
            <time-created>1756573555000000000</time-created>
            <severity>oc-alarm-types:MAJOR</severity>
            <type-id>APRTOPO</type-id>
          </state>
        </alarm>
        <alarm>
          <id>8885</id>
          <config/>
          <state>
            <id>8885</id>
            <resource>PORT-1-1-LINEIN</resource>
            <text>APR Active - Port Switch</text>
            <time-created>1756573555000000000</time-created>
            <severity>oc-alarm-types:MAJOR</severity>
            <type-id>APRSWITCH</type-id>
          </state>
        </alarm>
        <alarm>
          <id>8944</id>
          <config/>
          <state>
            <id>8944</id>
            <resource>PORT-1-2-LINE1OUT</resource>
            <text>Amp out of operational range - amp gain too low L band</text>
            <time-created>1756573593000000000</time-created>
            <severity>oc-alarm-types:MINOR</severity>
            <type-id>LOGAIN-L</type-id>
          </state>
        </alarm>
        <alarm>
          <id>9013</id>
          <config/>
          <state>
            <id>9013</id>
            <resource>PORT-1-2-LINE1OUT</resource>
            <text>Power Adjustment required gain outside device limit</text>
            <time-created>1756573919000000000</time-created>
            <severity>oc-alarm-types:MINOR</severity>
            <type-id>PWRADJGAINLIMIT</type-id>
          </state>
        </alarm>
        <alarm>
          <id>8946</id>
          <config/>
          <state>
            <id>8946</id>
            <resource>PORT-1-2-LINE2OUT</resource>
            <text>Amp out of operational range - amp gain too low L band</text>
            <time-created>1756573593000000000</time-created>
            <severity>oc-alarm-types:MINOR</severity>
            <type-id>LOGAIN-L</type-id>
          </state>
        </alarm>
        <alarm>
          <id>9019</id>
          <config/>
          <state>
            <id>9019</id>
            <resource>PORT-1-2-LINE2OUT</resource>
            <text>Power Adjustment required gain outside device limit</text>
            <time-created>1756573922000000000</time-created>
            <severity>oc-alarm-types:MINOR</severity>
            <type-id>PWRADJGAINLIMIT</type-id>
          </state>
        </alarm>
        <alarm>
          <id>8955</id>
          <config/>
          <state>
            <id>8955</id>
            <resource>PORT-1-3-LINE1OUT</resource>
            <text>Amplifier out of operational range - amp gain too low</text>
            <time-created>1756573593000000000</time-created>
            <severity>oc-alarm-types:MINOR</severity>
            <type-id>LOGAIN</type-id>
          </state>
        </alarm>
        <alarm>
          <id>9022</id>
          <config/>
          <state>
            <id>9022</id>
            <resource>PORT-1-3-LINE1OUT</resource>
            <text>Power Adjustment required gain outside device limit</text>
            <time-created>1756573926000000000</time-created>
            <severity>oc-alarm-types:MINOR</severity>
            <type-id>PWRADJGAINLIMIT</type-id>
          </state>
        </alarm>
        <alarm>
          <id>8957</id>
          <config/>
          <state>
            <id>8957</id>
            <resource>PORT-1-3-LINE2OUT</resource>
            <text>Amplifier out of operational range - amp gain too low</text>
            <time-created>1756573593000000000</time-created>
            <severity>oc-alarm-types:MINOR</severity>
            <type-id>LOGAIN</type-id>
          </state>
        </alarm>
        <alarm>
          <id>9017</id>
          <config/>
          <state>
            <id>9017</id>
            <resource>PORT-1-3-LINE2OUT</resource>
            <text>Power Adjustment required gain outside device limit</text>
            <time-created>1756573920000000000</time-created>
            <severity>oc-alarm-types:MINOR</severity>
            <type-id>PWRADJGAINLIMIT</type-id>
          </state>
        </alarm>
        <alarm>
          <id>8906</id>
          <config/>
          <state>
            <id>8906</id>
            <resource>PORT-1-5-LINEIN</resource>
            <text>Input LOS</text>
            <time-created>1756573555000000000</time-created>
            <severity>oc-alarm-types:CRITICAL</severity>
            <type-id>LOS</type-id>
          </state>
        </alarm>
        <alarm>
          <id>8889</id>
          <config/>
          <state>
            <id>8889</id>
            <resource>PORT-1-5-LINEIN</resource>
            <text>APR Active - Invalid Topology</text>
            <time-created>1756573555000000000</time-created>
            <severity>oc-alarm-types:MAJOR</severity>
            <type-id>APRTOPO</type-id>
          </state>
        </alarm>
        <alarm>
          <id>8890</id>
          <config/>
          <state>
            <id>8890</id>
            <resource>PORT-1-5-LINEIN</resource>
            <text>APR Active - Port Switch</text>
            <time-created>1756573555000000000</time-created>
            <severity>oc-alarm-types:MAJOR</severity>
            <type-id>APRSWITCH</type-id>
          </state>
        </alarm>
        <alarm>
          <id>9352</id>
          <config/>
          <state>
            <id>9352</id>
            <resource>CARD-1-PF1</resource>
            <text>Battery off or power filter off</text>
            <time-created>1756653903000000000</time-created>
            <severity>oc-alarm-types:CRITICAL</severity>
            <type-id>PWR</type-id>
          </state>
        </alarm>
      </alarms>
      <software-package>
        <set-package-status>SET_PACKAGE_IDLE</set-package-status>
      </software-package>
      <protocols-ext>
        <ntp>
          <config/>
          <state/>
        </ntp>
        <dns>
          <config/>
          <state/>
        </dns>
        <logging>
          <config/>
          <state/>
        </logging>
        <tacacs>
          <config/>
          <state/>
        </tacacs>
        <sftp>
          <config/>
          <state/>
        </sftp>
        <http>
          <config/>
          <state/>
        </http>
        <ssh>
          <config/>
          <state/>
        </ssh>
      </protocols-ext>
    </system>
    </system_capture>
