<system_config><system>
      <config>
        <hostname>usgng1-l9i2</hostname>
        <login-banner/>
        <motd-banner/>
      </config>
      <ntp>
        <servers/>
      </ntp>
      <ssh-server>
        <cli-terminal>
          <config>
            <login-mode>ssh-authentication</login-mode>
          </config>
        </cli-terminal>
      </ssh-server>
      <logging>
        <remote-servers/>
      </logging>
      <aaa>
        <authentication>
          <config>
            <authentication-method>oc-aaa-types:LOCAL</authentication-method>
          </config>
          <users>
            <user>
              <username>admin</username>
              <config>
                <username>admin</username>
                <role>oc-aaa-types:SYSTEM_ROLE_ADMIN</role>
                <password-change-interval>0</password-change-interval>
                <user-status>n-oc-aaa-ext:USER_STATUS_ENABLED</user-status>
              </config>
            </user>
            <user>
              <username>service</username>
              <config>
                <username>service</username>
                <role>n-oc-aaa-ext:SYSTEM_ROLE_SERVICE</role>
                <password-change-interval>0</password-change-interval>
                <user-status>n-oc-aaa-ext:USER_STATUS_DISABLED</user-status>
              </config>
            </user>
          </users>
          <exit-on-reject>
            <config>
              <exit-on-reject-mode>true</exit-on-reject-mode>
            </config>
          </exit-on-reject>
          <user-systemwide>
            <config>
              <max-failed-login>3</max-failed-login>
              <min-wait-login>4</min-wait-login>
              <allowed-login-after-expired>3</allowed-login-after-expired>
              <aging-grace-period>7</aging-grace-period>
              <password-change-on-first-login>true</password-change-on-first-login>
              <password-history-size>10</password-history-size>
              <min-password-length>8</min-password-length>
            </config>
          </user-systemwide>
        </authentication>
        <authorization>
          <config>
            <authorization-method>oc-aaa-types:LOCAL</authorization-method>
          </config>
          <authorization-mode/>
        </authorization>
        <server-groups/>
      </aaa>
      <protocols-ext>
        <ntp>
          <config/>
        </ntp>
        <dns>
          <config/>
        </dns>
        <logging>
          <config/>
        </logging>
        <tacacs>
          <config/>
        </tacacs>
        <sftp>
          <config/>
        </sftp>
        <http>
          <config/>
        </http>
        <ssh>
          <config/>
        </ssh>
      </protocols-ext>
    </system>
    </system_config>
